@model Book

@{
    ViewData["Title"] = Model?.Title ?? "Book not found!";
}

<div class="container text-center">
    @if (Model != null)
    {
        <h1>@Model.Title</h1>
        <t>Author: @Model.Author.FirstName @Model.Author.LastName</t>
        <t>Publisher: @Model.PublisherName</t>
        <t>Rating: @Model.Rating / 5</t>
        <t>Pages: @Model.PagesAmount</t>
        <t>Publishing Year: @Model.PublishingYear</t>
    }
    else
    {
        <h1 class="text-danger">No such book with ID: @ViewBag.Id!</h1>
    }
</div>
