@model Book

@{
    ViewData["Title"] = Model?.Title ?? "Book not found!";
}

<div class="container text-center">
    @if (Model != null)
    {
        <h1>@Model.Title</h1>
        <p>Author: @Model.Author.FirstName @Model.Author.LastName</p>
        <p>Publisher: @Model.PublisherName</p>
        <p>Rating: @Model.Rating / 5</p>
        <p>Pages: @Model.PagesAmount</p>
        <p>Publishing Year: @Model.PublishingYear</p>
    }
    else
    {
        <h1 class="text-danger">No such book with ID: @ViewBag.Id!</h1>
    }
</div>
